.newFunctionTitle {
    text-align: center;
    margin-inline: auto;

}

#newFunction {
    /* Dit werkt nog niet helemaal  */
    box-align: center;
    color: red;
    /* max-width: fit-content; */
    width: 80%;
    margin-inline: auto;
    background-color: var(--mid1-gray-color);
}


.emptySpace {
    height: 50px;
}
