.newFunctionTitle {
    text-align: center;
    margin-inline: auto;

}

.newFunction {
    box-align: center;
    /* max-width: fit-content; */
    width: 80%;
    margin-inline: auto;
    background-color: var(--light-gray-color);
}


.emptySpace {
    height: 50px;
}